<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/login.css">
</head>
<div class="log">
    <div class="text"><h1>LOGIN</h1></div>
    <div class="inputs">
    <form action="/login" method="post">
        <input placeholder="Username" name="username" type="text">
        <input placeholder="Password" name="password" type="password">
        <input type="submit" id="sub">
    </form>
    </div>
    <a href="signup">New User registration</a>
</div>
    
</body>
</html>