<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="/signup.css">
</head>
<div class="log">
    <div class="text"><h1>SIGNUP</h1></div>
    <div class="inputs">
    <form action="/signup" method="post">
        <input placeholder="Username" name="username" type="text">
        <input placeholder="Email" name="email" type="text">
        <input placeholder="Password" name="password" type="password">
        <input type="submit" id="sub">
    </form>
    </div>
    <a href="login">Already have an account?</a>
</div>
    
</body>
</html>