<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>The given password is too weak</h2>
    <br>
    <p>Minimum length of password:10 </p>
    <p>password must contain lower case letters,upper case letters, symbol and numbers</p>
    <a href="signup">signup</a>
</body>
</html>