<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Invalid Email</h2>
    <p>should be of the from xyz@abc.com</p>
    <a href="signup">Signup</a>
</body>
</html>